* {
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(241, 226, 206);
    margin: 0;
}



img {
    margin-top: 0;
    margin-left: 0;
    width: 160px;
}

h1 {
    color:#0c3c70;
    margin-bottom: 2%;
    justify-content: flex-start;
    width: 100%;
}

h3 {
    padding-top: -40%;
}

h6 {
    line-height: .1;
  }


.intro {
    position: relative;
    width: 100%;
    padding-top: 2%;
    padding-bottom: .3%;
    color:#204e86;
    background-image: url("/Midterm-WebP/images_dest/banner.png");
    background-size: 100%;
    height: 100%;
    
}


.intro h1 {
    font-size: 40px;
    line-height: 50px;
    padding-top: 30%;
    padding-left: 5%;
    
}

.header {
    overflow:hidden;
    background-color: #76c8f4;
    position: fixed;
    top: 0%;
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    font-family: cursive;
}
.header a {
    text-decoration: none;
    color: black;
}

.nav {
    overflow:hidden;
    background-color: #6fbcba;
    position: fixed;
    top: 50px;
    width: 100%;
}

.nav a {
    float: left; 
    display: block;
    color:antiquewhite;
    text-align: center;
    padding-inline-start: 10%;
    padding: 1%;
    text-decoration: none;  
}

.nav a:hover {
    background-color: #bad2d6;
    color:white;
}


.about {
    display: flex;
    flex-wrap: wrap;
}

.left_text {
    flex: 40%;
    background-color:#bad2d6d2;
}
.left_circle {
    margin-inline-start: 7%;
    max-width:fit-content;
    flex: 30%;
    height: 100%;
    width: 70%;
    background-color:rgba(250, 235, 215, 0.519);
    border-radius: 50%;
}

.purpose_head {
    padding-left: 35%;
    padding-top: 10%;
}

.purpose_body {
    padding-left: 6%;
    text-overflow: hidden;
    text-indent: 5%;
    line-height: 150%;
}

.right_img {
    width: 50%;
    height: auto;
    margin-left: 0;
    background-color:#a1c3c9;
    padding: 0px;
}

#image1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    width: 100%;
}

.travel_details {
    padding: 20px;
    text-align: left;
    background:rgba(250, 235, 215);   
    position: relative;
    padding-left: 5%;
}

.subimage1 {
    position: absolute;
    bottom: 50px;
}

.subImage2 {
    position:absolute;
    width: 43%;
    bottom: 5%;
    left: 35%;

}

.subImage3 {
    width: 13%;
    position:absolute;
    bottom: 5%;
    left: 63%;
}


.footer {
    padding: 20px;
    text-align: center;
    background:rgba(250, 235, 215);
  }

  #icon_1 {
    width: 20%;
    height: 20%;
    padding-bottom: 1%;
    position: relative;
    left: 0%;
    border-radius: 20%;
  }

  #icon_2 {
    width: 42%;
    position: relative;
    left: 10%;
    border-radius: 20%;
    padding-bottom: 1.5%;
  }

  #icon_3 {
    width: 140%;
    position: relative;
    left: 50%;
    border-radius: 20%;
    padding-bottom: 1%;
  }

  #icon_4 {
    width: fit-content;
  }

  .sub1 {
    position: relative;
    left: 3%;
    width: 20%
  }

  .sub2 {
    position: relative;
    left: 15%;
    width: 20%
  }

  .sub3 {
    position: relative;
    left: 61%;
    width: 100%;
  }


  @media only screen and (max-width: 900px) {
    .nav {
        font-size: 10px;
        top: 34px;
    }
    .intro h1 {
        font-size: 15px;
        line-height: 15px;
    }
    .purpose_body {
        font-size: 8px;
    }
    .purpose_head {
        font-size: 10px;
    }
    .sub1 {
        font-size: 8px;
    }
    .sub2 {
        font-size: 8px;
    }
    .sub3 {
        font-size: 8px;
    }

  }
